@import url(../fonts/fonts.css);

:root {
  --primary-color: #007950;
  --secondary-color1: #0120af;
  --bg: #121212;
  --invalid: #c81f13;
  --valid: #13c83b;
  --white100: #fff;
  --white75: rgba(255, 255, 255, 0.75);
  --white60: rgba(255, 255, 255, 0.6);
  --white50: rgba(255, 255, 255, 0.5);
  --white25: rgba(255, 255, 255, 0.25);
  --main-font: "Signika", sans-serif;
  --paragraph-font: "OpenSans", sans-serif;
  --shadow: 0px 100px 80px rgba(0, 0, 0, 0.07),
    0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
    0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
    0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}

/*    RESET    */

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg);
  overflow-x: hidden;
  max-width: 1440px;
  width: 100%;
  margin: auto;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--main-font);
  color: var(--white100);
}
h2 {
  font-weight: 700;
  font-size: 2.5em;
}
h4 {
  font-weight: 700;
  font-size: 2em;
}
h3 {
  font-weight: 300;
  font-size: 1.5em;
}
h5 {
  font-weight: 400;
  font-size: 1em;
}
h6 {
  font-size: 1.31em;
  font-weight: 600;
}
p {
  color: var(--white60);
  font-family: var(--paragraph-font);
  font-size: 15px;
}
.blurred {
  filter: blur(30px);
}
.blur-m {
  filter: blur(80px);
}
.blur-s {
  filter: blur(40px);
}
.circle {
  height: 50px;
  width: 50px;
  background: var(--primary-color);
}
.themed-txt {
  background: url(../data/blurry-gradient-haikei.svg);
  color: transparent;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
}
.themed-txt2 {
  background: url(../data/blurry-gradient-haikei.svg);
  color: transparent;
  background-size: 2em;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
}
.glass {
  background: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.text-shadow {
  text-shadow: var(--shadow);
}

.main-ft {
  font-family: var(--main-font);
}
.p-ft {
  font-family: var(--paragraph-font);
}

/*----------------------------------------------------------------------- HOME PAGE -----------------------------------------------------------------------*/

/*-------------------- Percs --------------------*/

.percs {
  overflow-x: clip;
}
.ballL {
  width: 30rem;
  height: 30rem;
}
.ballM {
  width: 10rem;
  height: 10rem;
}
.ball1 {
  background: linear-gradient(0deg, #0120b0, #007950);
  z-index: -2;
}
.ball2 {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 50%,
    #0120af,
    #007950
  );
  transform: rotate(316deg);
}
.ball3 {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 50%,
    #0120af,
    #007950
  );
}
.ball4 {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 50%,
    #007950,
    #0120af
  );
}
.ball5 {
  background: linear-gradient(173deg, #0120b0, #007950);
  z-index: -1;
}
.ball6 {
  background: linear-gradient(0deg, #0120b0, #007950, #0120b0);
  z-index: -2;
}
.ball1p1 {
  top: -1rem;
  right: -10rem;
}
.ball1p3 {
  top: 104rem;
  left: 23vw;
  border-radius: 218px;
  height: 60rem;
  width: 35rem;
  opacity: 0.7;
}
.ball2p1 {
  top: 45rem;
  left: 1rem;
}
.ball2p2 {
  top: 70rem;
  left: 8rem;
  z-index: -2;
}
.ball3p1 {
  top: 61rem;
  right: 5rem;
}
.ball4p1 {
  top: 81rem;
  right: 5rem;
}
.ball5p1 {
  top: 8rem;
  left: -5rem;
}
.ball6p1 {
  border-radius: 218px;
  height: 17rem;
  opacity: 0.7;
  width: 73rem;
}
.contact-ball {
  width: 70rem;
  height: 15rem;
}
.testimonials-ball {
  width: 85rem;
  height: 8rem;
  opacity: 0.7;
}

/*-------------------- Header --------------------*/

nav,
footer {
  background-color: #1212127a;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
nav {
  padding-inline: 3rem !important;
}
.nav-item a {
  font-size: 0.9em;
  color: var(--white50);
}
.nav-item > a:hover {
  color: white;
}

/*      LOGO       */

.logo {
  font-size: 2.5em;
  background-size: 2em;
  text-shadow: var(--shadow);
}
.logo:hover {
  background: url(../data/blurry-gradient-haikei.svg);
  color: transparent;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
}

/*      BUTTONS       */

a button {
  width: 5rem;
  height: 2.5rem;
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 0.9em;
}
a button#signup {
  width: 6rem;
}
.type1 {
  color: #4dd3a0;
  background: transparent;
  border: 2px solid rgb(22 183 166);
}
.type2 {
  border: none;
  color: white;
  background: url("../data/blurry-gradient-haikei.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: hard-light;
}
.type3 {
  color: #1ea5e8;
  background: rgba(255, 255, 255, 0.83);
  border: 2px solid #0790d4;
}
.type4 {
  color: #d54b3d;
  background: rgba(255, 255, 255, 0.83);
  border: 2px solid #d54b3d;
}
.type1:hover {
  transform: scale(1.02);
  font-weight: 700;
  background: rgba(255, 255, 255, 0.25);
}
.type2:hover,
.type3:hover,
.type4:hover {
  transform: scale(1.02);
  font-weight: 700;
}

/* -------------------- HERO -------------------- */

.hero {
  margin: 8rem 0;
}
.hero h3 {
  font-size: 2.2em;
  text-shadow: var(--shadow);
}
.hero h1 {
  font-size: 4em;
  text-shadow: var(--shadow);
}
.hero p {
  font-size: 15px;
  width: 25rem;
  margin-bottom: 1em;
}
.hero-img {
  max-width: 34vw;
}
.hero-img img {
  height: 18rem;
}
.download-buttons {
  margin-top: 2rem;
}
button h6 {
  font-size: 1.2em;
}
img.icon1 {
  width: 1.5rem;
}
img.icon2 {
  width: 1.5rem;
  padding-bottom: 6px;
}
.hero > a {
  color: var(--white75);
  margin-top: 0.5rem;
}
.hero h6 {
  color: white;
}

/* -------------------- SPONSORS -------------------- */

.sponsors {
  padding: 8rem 3rem;
  background: #080808;
}
.sponsors-logo img {
  filter: invert(91%) sepia(100%) saturate(1%) hue-rotate(322deg)
    brightness(105%) contrast(100%);
  width: 4rem;
}

/* -------------------- CONTENT -------------------- */

.content-grid {
  display: grid;
  grid-template-columns: repeat(2, 23rem);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "title title"
    "cont1 contl"
    "contr cont2"
    "cont3 contll"
    "contrr cont4";
  padding-block: 6rem;
}
.content-head {
  grid-area: title;
}
.cont {
  grid-template-rows: repeat(3, 1fr);
  height: 18rem;
  padding: 2rem;
  justify-items: center;
}
.cont:hover {
  transform: scale(1.02);
}
.cont1 {
  grid-area: cont1;
}
.cont2 {
  grid-area: cont2;
}
.cont3 {
  grid-area: cont3;
}
.cont4 {
  grid-area: cont4;
}
.cont a {
  align-self: end;
  display: flex;
}
button.learn-more {
  width: 10rem;
  height: 3rem;
  font-family: var(--main-font);
  color: var(--white75);
}
button.learn-more:hover {
  background: #ffffff26;
}

/* -------------------- PRICING -------------------- */

.pricing p {
  font-size: 0.85em;
}
.pricing-plans {
  margin: 4rem;
}
a:hover {
  color: white;
}
.plan {
  width: 19rem;
  height: 27.5rem;
  padding: 3rem 1.5rem;
  padding-bottom: 2rem;
}
.btn {
  width: 100%;
  font-weight: 700;
  font-size: 1em;
  padding: 1rem;
}
.pricing-plans a {
  width: 15rem;
}
.plan-title p {
  margin-top: 1rem;
  line-height: 1.5rem;
}
.plan-title h6 {
  margin-top: 0.5rem;
}

/* -------------------- TESTIMONIALS -------------------- */

.quote {
  filter: invert(57%) sepia(23%) saturate(5043%) hue-rotate(134deg)
    brightness(100%) contrast(83%);
  width: 5rem;
  right: -31px;
  position: absolute;
  top: -35px;
}
.star {
  filter: invert(57%) sepia(23%) saturate(5043%) hue-rotate(319deg)
    brightness(100%) contrast(83%);
  width: 8rem;
}
.testimonials {
  margin-block: 7rem;
}

.testimonial {
  padding: 2rem;
  width: 20rem;
  min-height: 15rem;
}

/* -------------------- CONTACT -------------------- */

.contact {
  margin: 3rem auto;
  padding-block: 5rem;
}
.contact-form {
  max-width: 26rem;
}
input {
  height: 2.5rem;
  font-family: var(--main-font);
  border-radius: 4px;
}
input:focus {
  outline: none;
  border: 1px solid black;
}
input[type="submit"] {
  letter-spacing: 0.1rem;
}
.contact-info {
  width: 25rem;
}
.contact-info img {
  filter: invert(100%) sepia(0%) saturate(11%) hue-rotate(208deg)
    brightness(103%) contrast(103%);
  width: 1.5rem;
}
.info p {
  margin-block: 1.3rem;
}

/* -------------------- FOOTER -------------------- */

footer {
  border-top: 1px solid rgba(255, 255, 255, 0.18);
}
footer p {
  font-size: 0.8em;
}
footer h6 {
  font-size: 1.1em;
}
footer li a > img {
  width: 2.2rem;
}

/*----------------------------------------------------------------------- Break points -----------------------------------------------------------------------*/

@media screen and (max-width: 1158px) {
  .ball6p1 {
    height: 46rem;
    width: 80vw;
  }
}
@media screen and (max-width: 1074px) {
  .testimonial-main {
    order: 3;
  }
  .testimonials-ball {
    width: 43rem;
    height: 31rem;
  }
}
@media screen and (max-width: 974px) {
  .about-title {
    border-right: none !important;
    height: 7rem !important;
  }
  .about-logo {
    font-size: 2.5rem !important;
  }
  .about-title h3 {
    font-size: 1rem !important;
  }
  .about {
    padding: 2rem 4rem !important;
    gap: 3rem;
  }
}
@media screen and (max-width: 850px) {
  .contact-ball {
    width: 30rem;
    height: 45rem;
  }
  .contact {
    padding-block: 2rem;
  }
  .content-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 70%;
    gap: 1rem !important;
  }
  .login__body main,
  .signup__body main {
    width: 65vw !important;
  }
  .contact-form {
    margin-block: 4rem;
  }
  .contact {
    width: 90%;
  }
  .hero-img {
    display: none;
  }
  .login__form,
  .signup__form {
    width: 100% !important;
  }
  .ball1p1 {
    top: -3rem;
    right: -16rem;
  }
  .ball1p3 {
    top: 109rem;
    left: 6vw;
  }

  .ball5p1 {
    top: 9rem;
    left: -7rem;
  }
}
@media screen and (max-width: 800px) {
  .ball6p1 {
    height: 85rem;
    width: 70vw;
  }
}
@media screen and (max-width: 707px) {
  .testimonials-ball {
    width: 31rem;
    height: 56rem;
  }
}
@media screen and (max-width: 600px) {
  .login__form {
    margin: 2rem 1rem !important;
  }
  .about {
    padding: 2rem !important;
    gap: 4rem !important;
  }
}
@media screen and (max-width: 500px) {
  .testimonial {
    min-height: 12rem !important;
    width: 18rem !important;
  }

  .about-head {
    font-size: 3.2em !important;
  }
  .ball3p1 {
    top: 52rem;
  }
  h3 {
    font-size: 1.3em;
  }
  .logo {
    font-size: 2em;
  }
  .hero {
    margin: 5rem 0;
  }
  .hero h3 {
    font-size: 1.5em;
  }
  .hero h1 {
    font-size: 3em;
  }
  .hero p {
    font-size: 13px;
  }
  .download-buttons {
    margin-top: 1rem;
  }
  button h6 {
    font-size: 0.9em;
  }
  img.icon1 {
    width: 1rem;
  }
  img.icon2 {
    width: 1rem;
    padding-bottom: 4px;
  }
  .hero > a {
    margin-top: 0.2rem;
  }
  .sponsors {
    padding: 8rem 1rem;
  }
  .sponsors-logo img {
    width: 3rem;
  }

  h2 {
    font-size: 1.8em;
  }
  h4 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.2em;
  }
  h5 {
    font-size: 1em;
  }
  h6 {
    font-size: 1.31em;
  }
  p {
    font-size: 13px;
  }
  .cont {
    height: 14rem;
    padding: 1rem;
  }

  .ball2p1 {
    top: 33rem;
    left: 1rem;
  }
  .ball3p1 {
    top: 46rem;
    right: 1rem;
  }
  .ball2p2 {
    top: 60rem;
    left: 12rem;
  }
  .ball4p1 {
    top: 81rem;
    right: 10rem;
  }
  .testimonials-ball {
    width: 20rem;
    height: 53rem;
  }
  .ball1p3 {
    top: 75rem;
    left: -5vw;
    border-radius: 218px;
    height: 60rem;
    width: 35rem;
  }
  .ball3p1 {
    top: 49rem;
    right: 1rem;
  }
  .login__form label {
    font-size: 0.9em;
  }
  .login__form input {
    height: 2rem !important;
  }
  .login__form .form-check-input {
    height: 1rem !important;
  }
  .login__form button {
    height: 2rem !important;
    font-weight: 600 !important;
  }
  .login__form a {
    font-weight: 400 !important;
    font-size: 0.9rem;
  }
  .login__form {
    gap: 0 !important;
    margin: 2rem 0.5rem !important;
  }
  .login__body main {
    width: 80vw !important;
  }
}
@media screen and (max-width: 450px) {
  .about {
    padding: 1rem !important;
    gap: 1rem !important;
  }

  .login__form,
  .signup__form {
    margin: 2rem 0.5rem !important;
  }
  .gmail {
    font-size: 0.8em;
  }

  .login__body main,
  .signup__body main {
    width: 90vw !important;
  }
  nav {
    padding-inline: 1rem !important;
  }
  h2 {
    font-size: 1.4em;
  }
  h4 {
    font-size: 1.7em;
  }
  h3 {
    font-size: 1em;
  }
  h5 {
    font-size: 1em;
  }
  h6 {
    font-size: 1em !important;
  }
  p {
    font-size: 11px;
  }
  a button {
    font-size: 0.75em;
  }
  button.learn-more {
    width: 8rem;
    height: 2.5rem;
  }
  .cont {
    height: 12rem;
    padding: 1rem;
  }
  .contact {
    width: 75%;
  }
  .info > p {
    gap: 1rem !important;
  }
  .hero h1 {
    font-size: 2.5em !important;
  }
  .hero h3 {
    font-size: 1.5em !important;
  }
  .hero p {
    font-size: 12px !important;
    width: 22rem;
  }
  .btn {
    padding: 0.5rem 0.2rem;
  }
  button .gap-2 {
    gap: 0.3rem !important;
  }
  .plan-title h6 {
    font-size: 1.2em !important;
  }
  .pricing p {
    font-size: 0.7em;
  }
  .btn {
    font-size: 0.8em;
  }
  .hero a {
    font-size: 0.8em;
  }
  .login__body label {
    margin: 0 !important;
  }
  .ball3p1 {
    top: 47rem;
    right: 1rem;
  }
  .ball1p3 {
    top: 73rem;
    left: -5vw;
    height: 49rem;
    width: 35rem;
  }
  .or {
    font-size: 1.2em !important;
  }
}
@media screen and (max-width: 380px) {
  .login__form label,
  .login__form a,
  .signup__form label,
  .signup__form a {
    font-size: 0.75rem;
  }
  .hero h3 {
    font-size: 1em !important;
  }
  .hero h1 {
    font-size: 2em !important;
    margin-block: 0;
  }
  .btn {
    padding: 0.4rem 0;
  }
  .hero p {
    font-size: 10px !important;
    width: 17rem;
  }
  img.icon1,
  img.icon2 {
    width: 0.75rem;
  }
  h6 {
    font-size: 0.8em !important;
  }
  .navbar-toggler-icon {
    width: 1em;
    height: 1em;
  }
  h3 {
    font-size: 0.9em;
  }
  .sponsors-logo img {
    width: 2rem;
  }
  h2 {
    font-size: 1.2em;
  }
  p {
    font-size: 10px;
  }
  a button {
    font-size: 0.7em;
  }
  .contact-info {
    padding: 2rem !important;
  }
  input {
    height: 2rem;
    font-size: 0.8em !important;
  }
  textarea {
    font-size: 0.8em !important;
  }

  .contact-form {
    margin-block: 5rem;
  }
  .ball2p1 {
    top: 26rem;
    left: 1rem;
  }
  .ball3p1 {
    top: 43rem;
    right: 1rem;
  }
  .ball2p2 {
    top: 56rem;
    left: 8rem;
  }
}

/*----------------------------------------------------------------------- LOGIN PAGE -----------------------------------------------------------------------*/

.login__body {
  width: 100vw;
  height: 100vh;
  font-family: var(--main-font);
  display: table-cell;
  vertical-align: middle;
  overflow: hidden;
}

.login__body main {
  gap: 1rem;
  width: 50vw;
  max-width: 30rem;
}
.login__form {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  gap: 1.5rem;
}
.form-check label,
.form-check input {
  cursor: pointer;
}

.login__body input,
.form-check {
  margin-bottom: 1rem;
}
.login__form form > label {
  margin-inline: 0.5rem;
}
.links a,
.login__form label {
  color: white;
}
.links a:hover {
  text-decoration: underline;
}

/*----------------------------------------------------------------------- SIGNUP PAGE -----------------------------------------------------------------------*/

.signup__body {
  width: 100vw;
  height: 100vh;
  font-family: var(--main-font);
  display: table-cell;
  vertical-align: middle;
  overflow: hidden;
}

.signup__body main {
  gap: 1rem;
  width: 50vw;
  max-width: 30rem;
}
.signup__form {
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem;
}
.signup__body input {
  margin-bottom: 0.5rem;
}
.signup__form form > label {
  margin-inline: 0.5rem;
}
.signup__form label {
  color: white;
}

/*----------------------------------------------------------------------- ABOUT PAGE -----------------------------------------------------------------------*/

.about-container {
  margin-block: 7rem;
}
.about {
  padding: 4rem;
  gap: 3rem;
}
.about-para {
  max-width: 32rem;
}
.about-title {
  border-right: white solid 3px;
  padding-right: 2rem;
  height: 23rem;
}
.about-logo {
  font-size: 3.75em;
  background-size: 2em;
}
.about-head {
  font-size: 3.75em;
}
.member img {
  width: 150px;
}
.member .name {
  color: white;
  top: -65px;
}
.member .occupation {
  top: -80px;
  font-size: 0.8em;
}
.ball3p1a {
  top: 42rem;
  z-index: -5;
}
.ball2p2a {
  top: 47rem;
  z-index: -5;
}
.ball4p1a {
  top: 63rem;
  z-index: -5;
}
