/*                  FONTS                 */
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Teko:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Teko:wght@300&display=swap");

/*                  RESET                 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*                  VAR                   */
:root {
  --theme-color: #8f1e12;
}

/*                  NAV                 */
.nav {
  position: relative;
  background-color: #222;
  padding-inline: 50px;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
  /* transition: all 0.3s ease-in-out; */
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav a {
  color: #fff;
  font-family: "Teko", sans-serif;
  font-size: 24px;
  text-decoration: none;
  padding-inline: 15px;
  font-weight: 300;
  /* transition: all 0.3s ease-in-out; */
}

.nav a:hover {
  color: var(--theme-color);
}

/*              LOGO            */
.logo a {
  font-weight: 400;
  letter-spacing: 4px;
  font-size: 30px;
}

.logo a:hover {
  color: #fff !important;
}
.logo span {
  color: var(--theme-color);
  font-weight: 600;
  font-size: 40px;
  transition: all 0.3s ease-in-out;
}

/*             NAV BAR          */
